In [1]:
import pandas as pd
import numpy as np
from glob import glob
from sklearn.feature_extraction.text import CountVectorizer
import json

In [2]:
from fuzzywuzzy import fuzz, process
from itertools import combinations, permutations
from pprint import pprint

In [3]:
jseek = glob('*big*desc.json')
jseek

['20190202_bigjobdict2-fulldesc.json', '20190212_bigjobdict-fulldesc.json']

In [4]:
with open(jseek[1]) as infile:
    sdict = json.load(infile)
dfds = pd.DataFrame(data= [[np.NaN]*11], columns=['srch_pos', 'srch_date'] + list(sdict['data-science']['1_0'].keys()))

In [5]:
for result in jseek:
    date_search = result[:8]
    with open(result) as infile:
        sdict = json.load(infile)

# dfds = pd.DataFrame(data= [[np.NaN]*10], columns=['srch_pos'] + list(sdict['data-science']['1_0'].keys()))
    for key in sdict.keys():
        df = pd.DataFrame(sdict[key]).T
        df.reset_index(inplace=True)
        df.rename(columns={'index':'srch_pos'}, inplace=True)
        df['searchterm'] = key
        df['srch_date'] = date_search
        dfds = pd.concat([dfds, df], ignore_index=True)
dfds

/Users/pat.hearps/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

,bullettext,company,error,joburl,location_area,location_big,salary,searchterm,seekID,srch_date,srch_pos,templatetext,title
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,FIRESOFT Consulting,nobullets,/job/38248336?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38248336,20190202,1_0,\nHead of Data Science Engineering & Products ...,Head of Data Science Engineering & Products
2,NaN,Bluefin Resources Pty Limited,nobullets,/job/38214944?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38214944,20190202,1_1,\nMy client is a leading institution with ongo...,Manager | Analytics & Data Science
3,NaN,Barton Mills Recruitment,nobullets,/job/38214612?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"Up to $90,000 + Super + Comms",data-science,38214612,20190202,1_2,\nCompany Overview The global Digital trans...,Recruitment Consultant | Data Science
4,NaN,GOW Recruitment,nobullets,/job/38196050?type=standard&searchrequesttoken...,not_listed,Melbourne,not_listed,data-science,38196050,20190202,1_3,\nExpressions of Interests Recruiting for mult...,"Data Science, Data Engineers, Data Analytics -..."
5,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38194336?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,"$110,172.00 - $119,921.00",data-science,38194336,20190202,1_4,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
6,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38194327?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Brisbane,"$110,172.00 - $119,921.00",data-science,38194327,20190202,1_5,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
7,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38194322?type=standout&searchrequesttoken...,not_listed,ACT,"$110,172.00 - $119,921.00",data-science,38194322,20190202,1_6,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
8,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38194317?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$110,172.00 - $119,921.00",data-science,38194317,20190202,1_7,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
9,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38184716?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,"$110,172.00 - $119,921.00",data-science,38184716,20190202,1_8,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
10,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38184709?type=standout&searchrequesttoken...,not_listed,ACT,"$110,172.00 - $119,921.00",data-science,38184709,20190202,1_9,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
11,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38184701?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$110,172.00 - $119,921.00",data-science,38184701,20190202,1_10,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
12,NaN,AUSTRALIAN FEDERAL POLICE,nobullets,/job/38184695?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Brisbane,"$110,172.00 - $119,921.00",data-science,38184695,20190202,1_11,\nThe mission of the AFP is to provide dynamic...,Data Analytics & Data Science Team Leader
13,NaN,Hays Information Technology,nobullets,/job/38177104?type=standout&searchrequesttoken...,not_listed,Perth,not_listed,data-science,38177104,20190202,1_12,\nNew opportunity to deliver high-level strate...,"Manager, Data Science"
14,NaN,EnergyAustralia Services Pty Ltd,nobullets,/job/38170545?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,Competitive Salary + Bonus + Benefits,data-science,38170545,20190202,1_13,\nAbout Us\nEnergyAustralia is one of Australi...,Head of Data Science
15,NaN,EnergyAustralia Services Pty Ltd,nobullets,/job/38170544?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,Competitive Salary + Bonus + Benefits,data-science,38170544,20190202,1_14,\nAbout Us\nEnergyAustralia is one of Australi...,Head of Data Science
16,NaN,FIRESOFT Consulting,nobullets,/job/38152399?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38152399,20190202,1_15,\nHead of Data Science Engineering & Products ...,Head of Data Science Engineering & Products
17,NaN,Correlate Resources,nobullets,/job/38153321?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$170K+Super+ Bonus,data-science,38153321,20190202,1_16,\nSenior Data Scientist (Loyalty) :: $170K + S...,Senior Data Science (Loyalty) :: $170K + Super...
18,NaN,GHD Pty Ltd,nobullets,/job/38130367?type=standard&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,not_listed,data-science,38130367,20190202,1_17,GHD is one of the world's leading professional...,GHD Digital - Analytics / Data Science Lead - ...
19,NaN,GHD Pty Ltd,nobullets,/job/38130368?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38130368,20190202,1_18,GHD is one of the world's leading professional...,GHD Digital - Analytics / Data Science Lead - ...
20,NaN,Talent Insights Group Pty Ltd,nobullets,/job/38129848?type=standout&searchrequesttoken...,Ryde & Macquarie Park,Sydney,Competitive Salary + Bonus!,data-science,38129848,20190202,1_19,\nFull Job Description \nWe are currently recr...,Senior Big Data Engineer - Successful Data Sci...
21,NaN,Talent Insights Group Pty Ltd,nobullets,/job/38098321?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,Very Competitive + Bonus,data-science,38098321,20190202,2_0,\nWe are currently recruiting a Big Data Engin...,Big Data Engineer: Internal Role within a Data...
22,NaN,Forethought Research,nobullets,/job/38167791?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,not_listed,data-science,38167791,20190202,2_1,\nForethought is an international award-winnin...,Data Analysts - Marketing Science. Grad to 2 y...
23,NaN,Hudson,nobullets,/job/38059567?type=standout&searchrequesttoken...,not_listed,Sydney,not_listed,data-science,38059567,20190202,2_2,\n\n Full-time \nRemuneration package: $110 + ...,Data Science - Research
24,NaN,IQVIA,notemplatetext,/job/38240360?type=standard&searchrequesttoken...,not_listed,Sydney,not_listed,data-science,38240360,20190202,2_3,NaN,"Sr Consultant, Tech"
25,NaN,IQVIA,notemplatetext,/job/38240359?type=standard&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,data-science,38240359,20190202,2_4,NaN,16922-Site Sppt Engineer 1
26,NaN,Bluefin Resources Pty Limited,nobullets,/job/38035084?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38035084,20190202,2_5,\nMy client is a leading institution with ongo...,Manager | Analytics & Data Science
27,NaN,Hudson,nobullets,/job/38118827?type=standout&searchrequesttoken...,not_listed,ACT,$40 - $50 p.h. + Super,data-science,38118827,20190202,2_6,\nHudson are proud to be assisting a highly re...,APS4/5 Technical Data Officers - Plant Science
28,NaN,Capgemini Australia Pty Ltd,nobullets,/job/38226814?type=standout&searchrequesttoken...,not_listed,Sydney,not_listed,data-science,38226814,20190202,2_7,\nAbout our Graduates\nOur graduates come from...,Capgemini Graduate Program - March 2019 start
29,NaN,Greythorn Experis,nobullets,/job/38224385?type=standard&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,Bonus,data-science,38224385,20190202,2_8,\nWork with a cutting edge Data Science/Artifi...,Lead Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,nobullets,HRAnywhere,NaN,/job/38129918?type=standout&searchrequesttoken...,Bayside & South Eastern Suburbs,Melbourne,not_listed,big-data,38129918,20190212,83_13,Are you looking for a new challenge? Do you w...,Client Services Coordinator - General Insurance
12003,nobullets,myEdOnline,NaN,/job/38122894?type=standard&searchrequesttoken...,Eastern Suburbs,Melbourne,not_listed,big-data,38122894,20190212,83_14,"About myEdOnline Small, ambitious, well suppo...",Mid level Full Stack Developer - PHP / Angular
12004,nobullets,Melbourne Stadiums Limited,NaN,/job/38094173?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,not_listed,big-data,38094173,20190212,83_15,About Us Melbourne Stadiums Limited (MSL) mana...,Ticketing Services Executive
12005,nobullets,Schenker Australia Pty Ltd,NaN,/job/38200932?type=standout&searchrequesttoken...,South West & M5 Corridor,Sydney,not_listed,big-data,38200932,20190212,83_16,\nThe Company\nDB Schenker is a globally integ...,Inventory Controller
12006,nobullets,AGL Energy,NaN,/job/38152281?type=standout&searchrequesttoken...,not_listed,West Gippsland & Latrobe Valley,not_listed,big-data,38152281,20190212,83_17,"\nReporting to the Head of Generation, this ro...",Manager Station Operations
12007,nobullets,Goodman Fielder,NaN,/job/38171222?type=standout&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,big-data,38171222,20190212,83_18,\n\nJoin a leading FMCG organisation\nGrow you...,Commercial Finance Analyst
12008,nobullets,CHU Underwriting Agencies Pty Ltd,NaN,/job/38164586?type=standard&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,big-data,38164586,20190212,83_19,\n \nAbout the business\nSteadfast is the larg...,Underwriter
12009,nobullets,Dentsu Aegis Network,NaN,/job/38187790?type=standard&searchrequesttoken...,not_listed,Sydney,not_listed,big-data,38187790,20190212,84_0,ABOUT ISOBAR Isobar Australia is an award w...,Business Analyst - Digital
12010,nobullets,John Deere,NaN,/job/38247622?type=standard&searchrequesttoken...,"CBD, Inner & Western Suburbs",Perth,not_listed,big-data,38247622,20190212,84_1,\nThe most important work you'll ever do is th...,Solutions Specialist - Western Australia
12011,nobullets,Veolia Australia & New Zealand,NaN,/job/38096454?type=standout&searchrequesttoken...,not_listed,West Gippsland & Latrobe Valley,not_listed,big-data,38096454,20190212,84_2,\n \nVeolia Australia & New Zealand (Veolia) i...,Administration Officer
12012,nobullets,S2P,NaN,/job/38115072?type=standard&searchrequesttoken...,not_listed,Sydney,not_listed,big-data,38115072,20190212,84_3,A Product Owner is required by an ASX listed I...,Product Owner
12013,nobullets,Migas Limited,NaN,/job/38132855?type=standard&searchrequesttoken...,not_listed,Melbourne,not_listed,big-data,38132855,20190212,84_4,\n\nRare opportunity to work with a nationally...,Security Systems Apprenticeship
12014,nobullets,HBC Group,NaN,/job/38230471?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,big-data,38230471,20190212,84_5,"Are you a smart, fast, driven Marketing Assist...",Marketing Assistant
12015,nobullets,Murdoch Childrens Research Institute,NaN,/job/38169344?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,not_listed,big-data,38169344,20190212,84_6,\nWe are a diverse team of world-leading resea...,Research Assistant
12016,nobullets,Innovatus Media,NaN,/job/38096460?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$45,000 - $49,999 + Superannuation + Bonuses",big-data,38096460,20190212,84_7,About us: Innovatus Media is the region’s lead...,Editorial Coordinator
12017,nobullets,Ericsson,NaN,/job/38120390?type=standout&searchrequesttoken...,not_listed,Sydney,not_listed,big-data,38120390,20190212,84_8,\n\nEricsson is the world-leading provider of ...,Field Service Technician
12018,nobullets,Ericsson,NaN,/job/38120546?type=standout&searchrequesttoken...,not_listed,Brisbane,not_listed,big-data,38120546,20190212,84_9,\n\nEricsson is the world-leading provider of ...,Field Service Technician
12019,nobullets,Altura Learning Academy,NaN,/job/38104100?type=standout&searchrequesttoken...,North Shore & Northern Beaches,Sydney,"$60,000 - $64,999 plus Super",big-data,38104100,20190212,84_10,Altura Learning Australia is Australia's large...,Student Support Officer
12020,nobullets,Migas Limited,NaN,/job/38116020?type=standard&searchrequesttoken...,not_listed,Sydney,not_listed,big-data,38116020,20190212,84_11,\n\nRare opportunity to work with a nationally...,Security Systems Apprenticeship
12021,nobullets,Schenker Australia Pty Ltd,NaN,/job/38111941?type=standout&searchrequesttoken...,Parramatta & Western Suburbs,Sydney,not_listed,big-data,38111941,20190212,84_12,\nThe Company\nDB Schenker is a globally integ...,Inventory Clerk / Operator
12022,nobullets,Orbital Australia Pty Ltd,NaN,/job/38121949?type=standard&searchrequesttoken...,Northern Suburbs & Joondalup,Perth,not_listed,big-data,38121949,20190212,84_13,\nWe are looking for brilliant people\nOrbital...,Senior Electronics Technician
12023,nobullets,John Deere,NaN,/job/38193544?type=standout&searchrequesttoken...,Western Suburbs,Melbourne,not_listed,big-data,38193544,20190212,84_14,\nThe most important work you'll ever do is th...,Regional Distribution Centre Supervisor
12024,nobullets,Salexo Consulting,NaN,/job/38132421?type=standout&searchrequesttoken...,South West & M5 Corridor,Sydney,"$130,000 - $139,999 OTE 1st Year",big-data,38132421,20190212,84_15,\n \nClient –\nMy client is one the biggest re...,Product Sales Specialist - Compact Machinery
12025,nobullets,realestate.com.au,NaN,/job/38117679?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,not_listed,big-data,38117679,20190212,84_16,\n \n\nAustralian digital business listed in t...,Procurement Specialist
12026,nobullets,John Deere,NaN,/job/38174654?type=standard&searchrequesttoken...,Southern Suburbs & Logan,Brisbane,not_listed,big-data,38174654,20190212,84_17,\nThe most important work you'll ever do is th...,Collections & Compliance Supervisor
12027,nobullets,realestate.com.au,NaN,/job/38165755?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Melbourne,not_listed,big-data,38165755,20190212,84_18,\n \n\nAwesome for your resume stripes - you’l...,Head of Product
12028,nobullets,Ericsson,NaN,/job/38144031?type=standout&searchrequesttoken...,not_listed,Melbourne,not_listed,big-data,38144031,20190212,84_19,\n\nEricsson is the world-leading provider of ...,Manager Acceptance and Quality
12029,nobullets,Schenker Australia Pty Ltd,NaN,/job/38106758?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,big-data,38106758,20190212,85_0,\nThe Company\nDB Schenker is a globally integ...,IT PMO Manager
12030,nobullets,Fusion Sport Pty Ltd,NaN,/job/38176296?type=standout&searchrequesttoken...,CBD & Inner Suburbs,Brisbane,"$80,000 - $94,999",big-data,38176296,20190212,85_1,About Fusion Fusion Sport is the world leader ...,Operations Manager - Service Team
12031,nobullets,Global Medics Australia,NaN,/job/38090749?type=standard&searchrequesttoken...,not_listed,Bunbury & South West,$100k - $174k p.a.,big-data,38090749,20190212,85_2,\nPosition: ED Registrars Location: Western A...,ED Registrars

In [6]:
dfds.shape

(12032, 13)

In [8]:
dfds.error.value_counts()

nobullets         2365
notemplatetext     347
nodesc              21
Name: error, dtype: int64

In [9]:
dfds.bullettext.value_counts()

nobullets    9319
Name: bullettext, dtype: int64

In [10]:
dfds.drop(columns='bullettext', inplace=True) # no useful info, all blank or missing

In [12]:
classf = glob("*class*.json")[0]
classf

'20190214_job_classifications.json'

In [24]:
with open(classf) as infile:
    cfdict = json.load(infile)
cfdict.keys()

dict_keys(['data-science', 'data-scientist', 'data-analyst', 'machine-learning', 'big-data'])

In [27]:
dclassf = pd.DataFrame(columns=['jobClassification', 'jobSubClassification', 'jobTitle','joburl'])
for key in cdict.keys():
    cdf = pd.DataFrame(cfdict[key]).T
#     cdf = pd.DataFrame(cfdict['data-science']).T
    cdf.reset_index(inplace=True)
    cdf.rename(columns={'index':'seekID'}, inplace=True)
    cdf['searchterm'] = key
    dclassf = pd.concat([dclassf,cdf],ignore_index=True)
dclassf

/Users/pat.hearps/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,jobClassification,jobSubClassification,jobTitle,joburl,searchterm,seekID
0,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist - Sponsorship Available,/job/38305983?type=standout&searchrequesttoken...,data-science,38305983
1,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist,/job/38274601?type=standout&searchrequesttoken...,data-science,38274601
2,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Analyst/Scientist,/job/38299223?type=standout&searchrequesttoken...,data-science,38299223
3,Information & Communication Technology,Business/Systems Analysts,Data Science Management Consultant,/job/38285286?type=standout&searchrequesttoken...,data-science,38285286
4,Information & Communication Technology,Telecommunications,Data Scientist,/job/38342340?type=standard&searchrequesttoken...,data-science,38342340
5,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist - Greenfield,/job/38322210?type=standout&searchrequesttoken...,data-science,38322210
6,"Mining, Resources & Energy",Management,Data Science Manager,/job/38305440?type=standout&searchrequesttoken...,data-science,38305440
7,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist - Machine Learning & Predictive...,/job/38205809?type=standard&searchrequesttoken...,data-science,38205809
8,Information & Communication Technology,Management,Head of Data Science Engineering & Products,/job/38248336?type=standard&searchrequesttoken...,data-science,38248336
9,Science & Technology,"Mathematics, Statistics & Information Sciences",Statistical Data Analyst / Lead,/job/38315888?type=standout&searchrequesttoken...,data-science,38315888
10,Science & Technology,"Mathematics, Statistics & Information Sciences",Machine Learning Engineer / Scientist - Optimi...,/job/38178979?type=standard&searchrequesttoken...,data-science,38178979
11,Marketing & Communications,Market Research & Analysis,Senior Data Science Executive,/job/38257609?type=standout&searchrequesttoken...,data-science,38257609
12,Banking & Financial Services,Banking - Retail/Branch,Data Science Leader,/job/38256490?type=standard&searchrequesttoken...,data-science,38256490
13,Information & Communication Technology,Engineering - Software,Data Scientist - Machine Learning Engineer,/job/38233234?type=standard&searchrequesttoken...,data-science,38233234
14,Information & Communication Technology,Business/Systems Analysts,Data Scientist with Consultancy Experience,/job/38261034?type=standard&searchrequesttoken...,data-science,38261034
15,Information & Communication Technology,Other,"Data Science, Data Engineers, Data Analytics -...",/job/38196050?type=standard&searchrequesttoken...,data-science,38196050
16,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist,/job/38234656?type=standout&searchrequesttoken...,data-science,38234656
17,Science & Technology,Modelling & Simulation,Machine Learning Data Scientist - Purposeful H...,/job/38132202?type=standard&searchrequesttoken...,data-science,38132202
18,Marketing & Communications,Market Research & Analysis,Head of Data Science,/job/38170545?type=standout&searchrequesttoken...,data-science,38170545
19,Science & Technology,"Mathematics, Statistics & Information Sciences",Biostatistician,/job/38249513?type=standout&searchrequesttoken...,data-science,38249513
20,Information & Communication Technology,Management,Head of Data Science Engineering & Products,/job/38152399?type=standard&searchrequesttoken...,data-science,38152399
21,Science & Technology,"Mathematics, Statistics & Information Sciences",Head of Data Science,/job/38170544?type=standout&searchrequesttoken...,data-science,38170544
22,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist - Analytics,/job/38343393?type=standard&searchrequesttoken...,data-science,38343393
23,Science & Technology,"Mathematics, Statistics & Information Sciences",Senior Data Scientist,/job/38265180?type=standard&searchrequesttoken...,data-science,38265180
24,Science & Technology,"Mathematics, Statistics & Information Sciences",Manager | Analytics & Data Science,/job/38214944?type=standard&searchrequesttoken...,data-science,38214944
25,Information & Communication Technology,Other,Senior Data Science (Loyalty) :: $170K + Super...,/job/38153321?type=standout&searchrequesttoken...,data-science,38153321
26,Science & Technology,"Mathematics, Statistics & Information Sciences","Data Scientist - Machine Learning, Python",/job/37960667?type=standard&searchrequesttoken...,data-science,37960667
27,Information & Communication Technology,Consultants,Junior Data Scientist,/job/38108166?type=standout&searchrequesttoken...,data-science,38108166
28,Information & Communication Technology,Consultants,"Statistician Data Scientist, Analytics, Machin...",/job/38307963?type=standard&searchrequesttoken...,data-science,38307963
29,Information & Communication Technology,Management,"Manager, Data Science",/job/38177104?type=standout&searchrequesttoken...,data-science,38177104
...,...,...,...,...,...,...
9466,Marketing & Communications,Digital & Search Marketing,Digital Marketing Specialist,/job/38216872?type=standard&searchrequesttoken...,big-data,38216872
9467,Legal,Corporate & Commercial Law,Legal & Commercial Manager,/job/38162096?type=standout&searchrequesttoken...,big-data,38162096
9468,Information & Communication Technology,Developers/Programmers,iOS Engineer,/job/38180745?type=standout&searchrequesttoken...,big-data,38180745
9469,Sales,New Business Development,Enterprise Account Executive - AI & ML,/job/38129832?type=standout&searchrequesttoken...,big-data,38129832
9470,Science & Technology,"Environmental, Earth & Geosciences",Measurement and Verification Specialist - Ener...,/job/38131401?type=standard&searchrequesttoken...,big-data,38131401
9471,Marketing & Communications,Product Management & Development,Digital Product Manager,/job/38155606?type=standard&searchrequesttoken...,big-data,38155606
9472,"Manufacturing, Transport & Logistics",Freight/Cargo Forwarding,Inventory Controller,/job/38200932?type=standout&searchrequesttoken...,big-data,38200932
9473,Insurance & Superannuation,Brokerage,Client Services Coordinator - General Insurance,/job/38129918?type=standout&searchrequesttoken...,big-data,38129918
9474,"Mining, Resources & Energy",Power Generation & Distribution,Manager Station Operations,/job/38152281?type=standout&searchrequesttoken...,big-data,38152281
9475,Banking & Financial Services,Analysis & Reporting,Commercial Finance Analyst,/job/38171222?type=standout&searchrequesttoken...,big-data,38171222
9476,Insurance & Superannuation,Underwriting,Underwriter,/job/38164586?type=standard&searchrequesttoken...,big-data,38164586
9477,"Farming, Animals & Conservation",Other,Solutions Specialist - Western Australia,/job/38247622?type=standard&searchrequesttoken...,big-data,38247622
9478,Information & Communication Technology,Product Management & Development,Product Owner,/job/38115072?type=standard&searchrequesttoken...,big-data,38115072
9479,Information & Communication Technology,Business/Systems Analysts,Business Analyst - Digital,/job/38187790?type=standard&searchrequesttoken...,big-data,38187790
9480,Trades & Services,Security Services,Security Systems Apprenticeship,/job/38132855?type=standard&searchrequesttoken...,big-data,38132855
9481,Marketing & Communications,Marketing Assistants/Coordinators,Marketing Assistant,/job/38230471?type=standout&searchrequesttoken...,big-data,38230471
9482,Healthcare & Medical,Clinical/Medical Research,Research Assistant,/job/38169344?type=standout&searchrequesttoken...,big-data,38169344
9483,Construction,Other,Field Service Technician,/job/38120390?type=standout&searchrequesttoken...,big-data,38120390
9484,Construction,Other,Field Service Technician,/job/38120546?type=standout&searchrequesttoken...,big-data,38120546
9485,Trades & Services,Electricians,Security Systems Apprenticeship,/job/38116020?type=standard&searchrequesttoken...,big-data,38116020
9486,"Manufacturing, Transport & Logistics",Freight/Cargo Forwarding,Inventory Clerk / Operator,/job/38111941?type=standout&searchrequesttoken...,big-data,38111941
9487,Engineering,Electrical/Electronic Engineering,Senior Electronics Technician,/job/38121949?type=standard&searchrequesttoken...,big-data,38121949
9488,"Manufacturing, Transport & Logistics",Team Leaders/Supervisors,Regional Distribution Centre Supervisor,/job/38193544?type=standout&searchrequesttoken...,big-data,38193544
9489,Sales,New Business Development,Product Sales Specialist - Compact Machinery,/job/38132421?type=standout&searchrequesttoken...,big-data,38132421
9490,Banking & Financial Services,Compliance & Risk,Collections & Compliance Supervisor,/job/38174654?type=standard&searchrequesttoken...,big-data,38174654
9491,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",Procurement Specialist,/job/38117679?type=standout&searchrequesttoken...,big-data,38117679
9492,Information & Communication Technology,Telecommunications,Manager Acceptance and Quality,/job/38144031?type=standout&searchrequesttoken...,big-data,38144031
9493,CEO & General Management,General/Business Unit Manager,Operations Manager - Service Team,/job/38176296?type=standout&searchrequesttoken...,big-data,38176296
9494,Information & Communication Technology,Product Management & Development,Head of Product,/job/38165755?type=standout&searchrequesttoken...,big-data,38165755
9495,"Manufacturing, Transport & Logistics",Management,IT PMO Manager,/job/38106758?type=standout&searchrequesttoken...,big-data,38106758

In [32]:
print(len(dclassf.joburl.unique()))
print(len(dclassf.seekID.unique()))

9496
7528

In [35]:
%%time
matches = [j for j in set(dclassf.seekID.values) if j in set(dfds.seekID.values)]
print(len(matches))

6505
CPU times: user 4.2 s, sys: 25.9 ms, total: 4.23 s
Wall time: 4.25 s

In [36]:
cdupes = dclassf[dclassf.duplicated(subset='seekID')]['seekID'].values
cdupes

array(['38334247', '38331485', '38343393', ..., '38230471', '38169344',
       '38176296'], dtype=object)

In [46]:
probs = []
for c in cdupes:
    lc = set(dclassf.jobTitle[dclassf.seekID == c].values)
    if len(lc) > 1:
        probs.append(c)
probs
# so looks like no non-matching duplicates, all good

[]

In [55]:
dclassf.jobTitle[dclassf.seekID == cdupes[3]].values # just checking code does what I think it does

array(['Junior Data Scientist- Credit Risk experience needed',
       'Junior Data Scientist- Credit Risk experience needed',
       'Junior Data Scientist- Credit Risk experience needed'],
      dtype=object)

In [56]:
print(len(dclassf))
dclassf.drop_duplicates(subset='seekID', inplace=True)
print(len(dclassf))

9496
7528

In [57]:
dupIDs = dfds[dfds.duplicated(subset='seekID')]['seekID'].values

In [58]:
print(len(dupIDs))
print(len(set(dupIDs)))

3972
2101

In [59]:
dupIDs = set(dupIDs)

In [60]:
dfds[dfds.seekID.isin(dupIDs)].sort_values('seekID')

,company,error,joburl,location_area,location_big,salary,searchterm,seekID,srch_date,srch_pos,templatetext,title
9781,GQR Global Markets,NaN,/job/36105124?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,machine-learning,36105124,20190212,23_3,\nYou will be solving complex problems that ca...,"Quant Developer (Modern C++, Python and Java) ..."
3847,GQR Global Markets,NaN,/job/36105124?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,36105124,20190212,57_14,\nYou will be solving complex problems that ca...,"Quant Developer (Modern C++, Python and Java) ..."
5143,AECOM Australia PTY LTD,NaN,/job/37513731?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-scientist,37513731,20190212,14_1,\n\n\nFun and collaborative work environment \...,Technical Officer - Data Management Support
732,AECOM Australia PTY LTD,nobullets,/job/37513731?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-scientist,37513731,20190202,15_8,\n\n\nFun and collaborative work environment \...,Technical Officer - Data Management Support
3393,AECOM Australia PTY LTD,NaN,/job/37513731?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,37513731,20190212,35_0,\n\n\nFun and collaborative work environment \...,Technical Officer - Data Management Support
5272,AECOM Australia PTY LTD,NaN,/job/37514946?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-scientist,37514946,20190212,20_10,\n\n\nPositive and collaborative work environm...,Senior Environmental Scientist - Geoscience an...
3985,AECOM Australia PTY LTD,NaN,/job/37514946?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,37514946,20190212,64_12,\n\n\nPositive and collaborative work environm...,Senior Environmental Scientist - Geoscience an...
1780,DXC Technology Australia Pty LTD,notemplatetext,/job/37649882?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,machine-learning,37649882,20190202,15_2,NaN,Software Engineer
3119,DXC Technology Australia Pty LTD,NaN,/job/37649882?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,data-science,37649882,20190212,21_6,DXC Technology (NYSE: DXC) is the world’s lead...,Software Engineer
258,DXC Technology Australia Pty LTD,notemplatetext,/job/37649882?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,data-science,37649882,20190202,13_17,NaN,Software Engineer
9680,DXC Technology Australia Pty LTD,NaN,/job/37649882?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,machine-learning,37649882,20190212,18_2,DXC Technology (NYSE: DXC) is the world’s lead...,Software Engineer
2051,Iman Business Solutions,nobullets,/job/37686737?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,machine-learning,37686737,20190202,28_13,\n\n$$VG!! Flexible Jan/Feb starts\nHigh-profi...,"4 new Consultant Roles - DevOps, Cloud, Cyber ..."
2685,Iman Business Solutions,nobullets,/job/37686737?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,big-data,37686737,20190202,32_12,\n\n$$VG!! Flexible Jan/Feb starts\nHigh-profi...,"4 new Consultant Roles - DevOps, Cloud, Cyber ..."
4995,T+O+M Executive,NaN,/job/37753556?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$150k - 200K + Bonus Dependent On Experience,data-scientist,37753556,20190212,6_13,\nOur client is an established global Asset Ma...,Data Scientist - Financial Markets
611,T+O+M Executive,nobullets,/job/37753556?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$150k - 200K + Bonus Dependent On Experience,data-scientist,37753556,20190202,9_7,\nOur client is an established global Asset Ma...,Data Scientist - Financial Markets
3144,T+O+M Executive,NaN,/job/37753556?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$150k - 200K + Bonus Dependent On Experience,data-science,37753556,20190212,22_11,\nOur client is an established global Asset Ma...,Data Scientist - Financial Markets
8423,T+O+M Executive,NaN,/job/37753556?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$150k - 200K + Bonus Dependent On Experience,data-analyst,37753556,20190212,155_5,\nOur client is an established global Asset Ma...,Data Scientist - Financial Markets
583,T+O+M Executive,nobullets,/job/37753556?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$150k - 200K + Bonus Dependent On Experience,data-scientist,37753556,20190202,7_19,\nOur client is an established global Asset Ma...,Data Scientist - Financial Markets
416,T+O+M Executive,nobullets,/job/37753556?type=standard&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$150k - 200K + Bonus Dependent On Experience,data-science,37753556,20190202,21_15,\nOur client is an established global Asset Ma...,Data Scientist - Financial Markets
11797,Data#3 People Solutions,NaN,/job/37787001?type=standard&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,big-data,37787001,20190212,73_8,\nOur client is a large company based in Wyong...,GIS Business Analyst - Central Coast
7515,Data#3 People Solutions,NaN,/job/37787001?type=standard&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,data-analyst,37787001,20190212,109_17,\nOur client is a large company based in Wyong...,GIS Business Analyst - Central Coast
2373,Data Processors Pty Ltd,notemplatetext,/job/37831276?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$80,000 - $89,999",big-data,37831276,20190202,17_0,NaN,Software Developer
4441,Data Processors Pty Ltd,NaN,/job/37831276?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$80,000 - $89,999",data-science,37831276,20190212,87_8,Data Processors is a data centric research and...,Software Developer
10905,Data Processors Pty Ltd,NaN,/job/37831276?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$80,000 - $89,999",big-data,37831276,20190212,28_16,Data Processors is a data centric research and...,Software Developer
6323,Data#3 People Solutions,NaN,/job/37876672?type=standard&searchrequesttoken...,North West & Hills District,Sydney,not_listed,data-analyst,37876672,20190212,50_5,\nOur client based on the Central Coast is see...,Data Analyst - 6 Month Contract - Central Coast
11152,Data#3 People Solutions,NaN,/job/37876672?type=standard&searchrequesttoken...,North West & Hills District,Sydney,not_listed,big-data,37876672,20190212,41_3,\nOur client based on the Central Coast is see...,Data Analyst - 6 Month Contract - Central Coast
10750,Powerforce,NaN,/job/37883314?type=standard&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,big-data,37883314,20190212,21_1,\n\nEnd to end management of key clients withi...,Account Manager
2272,Powerforce,nobullets,/job/37883314?type=standard&searchrequesttoken...,North Shore & Northern Beaches,Sydney,not_listed,big-data,37883314,20190202,11_19,\n\nEnd to end management of key clients withi...,Account Manager
5271,Hobson Prior Australia,NaN,/job/37883870?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,data-scientist,37883870,20190212,20_9,\nMy client is a leading Australian owned and ...,Senior Method Development Immunoassay Scientist
3811,Hobson Prior Australia,NaN,/job/37883870?type=standout&searchrequesttoken...,not_listed,Adelaide,not_listed,data-science,37883870,20190212,55_18,\nMy client is a leading Australian owned and ...,Senior Method Development Immunoassay Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...
4908,Modis,NaN,/job/38324504?type=standout&searchrequesttoken...,not_listed,ACT,not_listed,data-scientist,38324504,20190212,2_6,\nOne of our premium clients based in Canberra...,Data Scientist
2890,Modis,NaN,/job/38324504?type=standout&searchrequesttoken...,not_listed,ACT,not_listed,data-science,38324504,20190212,9_17,\nOne of our premium clients based in Canberra...,Data Scientist
9080,Modis,NaN,/job/38324504?type=standout&searchrequesttoken...,not_listed,ACT,not_listed,data-analyst,38324504,20190212,188_2,\nOne of our premium clients based in Canberra...,Data Scientist
9441,Modis,NaN,/job/38324504?type=standout&searchrequesttoken...,not_listed,ACT,not_listed,machine-learning,38324504,20190212,6_3,\nOne of our premium clients based in Canberra...,Data Scientist
10605,Modis,NaN,/job/38324504?type=standout&searchrequesttoken...,not_listed,ACT,not_listed,big-data,38324504,20190212,13_16,\nOne of our premium clients based in Canberra...,Data Scientist
5346,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324729?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,data-analyst,38324729,20190212,1_8,\n \nAbout the business\nThis government led t...,Data Analyst / Data Scientist
2853,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324729?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,data-science,38324729,20190212,8_0,\n \nAbout the business\nThis government led t...,Data Analyst / Data Scientist
4890,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324729?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,data-scientist,38324729,20190212,1_8,\n \nAbout the business\nThis government led t...,Data Analyst / Data Scientist
9416,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324745?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,machine-learning,38324745,20190212,4_18,\n\nExciting Federal Government Agency\nAttrac...,Data Scientist
2793,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324745?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,data-science,38324745,20190212,5_0,\n\nExciting Federal Government Agency\nAttrac...,Data Scientist
4912,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324745?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,data-scientist,38324745,20190212,2_10,\n\nExciting Federal Government Agency\nAttrac...,Data Scientist
10585,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324745?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,big-data,38324745,20190212,12_16,\n\nExciting Federal Government Agency\nAttrac...,Data Scientist
5857,Oakton Contracting & Recruitment Pty Ltd,NaN,/job/38324745?type=standard&searchrequesttoken...,not_listed,ACT,not_listed,data-analyst,38324745,20190212,26_19,\n\nExciting Federal Government Agency\nAttrac...,Data Scientist
4884,Morgan McKinley,NaN,/job/38325029?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$95k - $105k p.a.,data-scientist,38325029,20190212,1_2,\nRole: Data Scientist\nSalary: $95-105k base\...,Data Scientist
2796,Morgan McKinley,NaN,/job/38325029?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$95k - $105k p.a.,data-science,38325029,20190212,5_3,\nRole: Data Scientist\nSalary: $95-105k base\...,Data Scientist
6657,Morgan McKinley,NaN,/job/38325029?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,$95k - $105k p.a.,data-analyst,38325029,20190212,66_19,\nRole: Data Scientist\nSalary: $95-105k base\...,Data Scientist
3360,Data Processors Pty Ltd,NaN,/job/38325074?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$80,000 - $89,999",data-science,38325074,20190212,33_7,Data Processors is a data centric research and...,Software Developer
10568,Data Processors Pty Ltd,NaN,/job/38325074?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,"$80,000 - $89,999",big-data,38325074,20190212,11_19,Data Processors is a data centric research and...,Software Developer
8982,University of New South Wales,NaN,/job/38325173?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-analyst,38325173,20190212,183_4,\n\nOne of Australia’s leading research & teac...,Linux Administrator
2994,University of New South Wales,NaN,/job/38325173?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38325173,20190212,15_1,\n\nOne of Australia’s leading research & teac...,Linux Administrator
2993,University of New South Wales,NaN,/job/38325174?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38325174,20190212,15_0,\n\nOne of Australia’s leading research & teac...,Linux Administrator
8981,University of New South Wales,NaN,/job/38325174?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-analyst,38325174,20190212,183_3,\n\nOne of Australia’s leading research & teac...,Linux Administrator
8545,Talent Realised,NaN,/job/38325382?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-analyst,38325382,20190212,161_7,\nAbout Them One of the world's most successfu...,Junior Insights Analyst
11008,Talent Realised,NaN,/job/38325382?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,big-data,38325382,20190212,33_19,\nAbout Them One of the world's most successfu...,Junior Insights Analyst
8481,Commonwealth Bank - Financial Services,NaN,/job/38325612?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-analyst,38325612,20190212,158_3,\n\nSee yourself in our team\nGroup Treasury i...,Manager Treasury Business Management
2851,Commonwealth Bank - Financial Services,NaN,/job/38325612?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38325612,20190212,7_18,\n\nSee yourself in our team\nGroup Treasury i...,Manager Treasury Business Management
2852,Commonwealth Bank - Financial Services,NaN,/job/38325613?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-science,38325613,20190212,7_19,\n\nSee yourself in our team\nGroup Treasury i...,Manager Treasury Business Management
8482,Commonwealth Bank - Financial Services,NaN,/job/38325613?type=standout&searchrequesttoken...,"CBD, Inner West & Eastern Suburbs",Sydney,not_listed,data-analyst,38325613,20190212,158_4,\n\nSee yourself in our team\nGroup Treasury i...,Manager Treasury Business Management
8561,Northbridge Recruitment,NaN,/job/38325624?type=standout&searchrequesttoken...,not_listed,ACT,"Competitive Rates, Great Team & Manager",data-analyst,38325624,20190212,162_3,Have a passion for leading project within the ...,Project Manager | Build Data Lake & Data Wareh...
9490,Northbridge Recruitment,NaN,/job/38325624?type=standout&searchrequesttoken...,not_listed,ACT,"Competitive Rates, Great Team & Manager",machine-learning,38325624,20190212,8_12,Have a passion for leading project within the ...,Project Manager | Build Data Lake & Data Wareh...

In [61]:
cdict = {}
for did in dupIDs:
    ct = len(dfds[dfds.seekID == did])
#     print(ct)
    if ct in cdict.keys():
        cdict[ct] = cdict[ct] + 1
    else:
        cdict[ct] = 1
cdict
# just want to get an idea of how many repetitions there are of various IDs

{3: 401, 6: 73, 2: 1268, 4: 164, 10: 13, 5: 110, 11: 2, 7: 36, 8: 20, 9: 14}

In [62]:
dudf = pd.DataFrame(columns=dfds.columns, index=dupIDs)
dudf.head()

,company,error,joburl,location_area,location_big,salary,searchterm,seekID,srch_date,srch_pos,templatetext,title
38091786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38177940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38239429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38101725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38208915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
dfds.isnull().sum()

company             1
error            9299
joburl              1
location_area       1
location_big        1
salary              1
searchterm          1
seekID              1
srch_date           1
srch_pos            1
templatetext      348
title               1
dtype: int64

In [64]:
def get_dup_nums(row):
    xdf = dfds[dfds.seekID == row.name]
    counts = [len(xdf[c].value_counts()) for c in xdf.columns]
    rdf = pd.Series(counts, index=xdf.columns)
    rdf.name = row.name
    return rdf

In [65]:
%%time
dudf = dudf.apply(get_dup_nums, axis=1)

CPU times: user 14 s, sys: 38.9 ms, total: 14.1 s
Wall time: 14.1 s

In [66]:
dudf.head()

,company,error,joburl,location_area,location_big,salary,searchterm,seekID,srch_date,srch_pos,templatetext,title
38091786,1,1,3,1,1,1,2,1,2,3,1,1
38177940,1,1,6,1,1,1,3,1,2,6,1,1
38239429,1,1,2,1,1,1,1,1,2,2,1,1
38101725,1,1,3,1,1,1,1,1,2,3,1,2
38208915,1,1,2,1,1,1,1,1,2,2,1,1

In [67]:
dudf[dudf > 1].notnull().sum()

company             2
error               8
joburl           2101
location_area       2
location_big        2
salary             17
searchterm       1472
seekID              0
srch_date         999
srch_pos         2099
templatetext       42
title              82
dtype: int64

In [68]:
prob_columns = ['company','salary','templatetext','title'] # only really care about differences in these fields

In [69]:
%%time
##                     this is seeing how different the differences really are using fuzzywuzzy
check_dict = {}
for col in prob_columns:
    same = dfds[dfds.seekID.isin(dudf[dudf[col] > 1].index)]
    for IDcheck in same.seekID.unique():
#         print(IDcheck)
        for s in combinations([val for val in same[col][same.seekID == IDcheck]], 2):
            try:
                ratio = fuzz.partial_ratio(s[0],s[1])
#                 print(ratio)
                if ratio < 90:
                    check_dict[IDcheck] = s
            except:
                print(IDcheck, s)
                
# so now check_dict contains just those entries where the text is significantly different

38003869 ("\nGHD is one of the world's leading professional services companies operating in the global markets of water, energy and resources, environment, property and buildings, and transportation. With a global network of 10,000 professionals, we combine\n          the benefit of local knowledge with an ability to access our people from anywhere, helping clients enjoy the rewards of a one GHD network.\n\xa0\nWe operate in an environment where the power of technology is advancing at an astonishing rate. Regardless of business size or industry, digital transformation is vital. Our digital services have been designed to help our clients reimagine their\n          future business model, to improve the customer experience and reduce total cost of ownership of infrastructure assets. GHD Digital helps our clients to think differently, to embrace rapidly emerging digital advancements and to future-proof their\n          businesses. Please visit our website for more information: www.ghd.com/en/services/digital.aspx.\n \xa0\nThe team:\n \nOur Data and Analytics team understand that big data means nothing without intelligent insights. Using leading edge data analytics and business intelligence technology, we help clients see patterns in their data and find insights to improve the\n          way the business operates. We work clients to help make better business decisions.\xa0 \n \xa0\nThe role:\n \nReporting to the Practice Director, Data & Analytics; as a Business Analyst, you will be working on external client facing projects and be responsible for defining detailed requirements, analysing business needs, and the validation of reporting\n          solutions including the provision of dashboard solutions that will enable the achievement of the clients’ overall goals.\n \xa0\nKey responsibilities include:\n\n\nReviews and collects business requirements related to data, business intelligence and analytics through workshops, interviews, document analysis, surveys, use cases, business process descriptions, and workflow analysis.\n\n\nOn-going analytical support through the utilisation of data management, modelling and technology. \n\n\nIdentifies, analyses, and interprets trends and patterns in complex data sets, drawing insights that will aid the business in developing a suitable course of action.\n\n\nRegularly audits system data in order to guarantee compliance, accuracy, and duplication management. \n\n\nDesigning of targeted reports and dashboards that will provide insight and enable sound business decision-making.\n\n\nCollaboration with the rest of the Data and Analytics team and broader Digital business\n\n\nIdentify process automation opportunities and functions that will streamline current and future data management and reporting for the business. \n\n\nMaintain a clear understanding of analytics, reporting, and technology and apply this knowledge to develop and recommend solutions that will further enhance the business’s competitive edge and place the business at an advantage over competition\n              at all fronts in the market.\n\n\nDesired Skills and Experience\n\n\n3 to 8 years’ experience of relevant, data related business experience\n\n\nBachelor’s degree in Data Science, Computer Science, Information Technology, Economics, Information Systems, Statistics, Applied Math, Business Administration, or any other related field\n\nStrong analytical skills and the capacity to interpret quantitative and qualitative data\nStrong problem solving skills\nStrong visualisation skills with tools such as PowerBI, Tableau etc.\nIntermediate to Advanced SQL skills\nStrong inter-personal and communication skills\nProven team player, with the ability to develop and maintain internal and external relationships\nStrong written and verbal communication skills\nExcellent written and verbal communication\nProven team player, with the ability to develop and maintain internal and external relationships\n\nWhy work for GHD?\n\nIt is an exciting time to join GHD Digital as we are on the cusp of the new digital revolution; \xa0\nYou will have exposure to interesting IOT asset data; \nYou will be surrounded and inspired by leading industry specialists; \nWorking in a multidisciplinary environment promotes a collaborative working environment; \nWe are proud of our culture, and promote flexible working arrangements, foster gender balance and diversity\n\nWe are committed to creating a nurturing environment where people are empowered and are encouraged to bring their whole-self to work.\n\n\nWe offer a professional and friendly culture based on our core values of Safety, Teamwork, Respect and Integrity. \n\n\nGHD also provides attractive career and lifestyle options including professional development through the GHD Business School, flexible work options and family-friendly practices.\n\n\nPlease click the following link to apply.\xa0\xa0\n", nan)
38003869 ('\nOur client is an established global Asset Manager with exceptional pedigree and offices in\xa0Sydney and London.\nKey to their research and rigorous decision making processes are in-house built and be-spoke quantitative tools, which are valued by the investment analysts to provide them with the insights needed to uncover true value in the global equities\n          markets.\nThese tools ingest large data sets across thousands of market indicators from a variety of sources, but their performance is attributed to the creative quantitative data engineers, who shape and develop these tools to drive meaningful insights.\xa0\nAs a senior engineer in the team you will take ownership of the front-to-back development of these tools, including the delivery of the web-based application interface, to the statistical modelling in R to drive the analytics engine, to the management\n          of their data environment and infrastructure.\nThis is the perfect role for an exceptional data engineer who has complemented their software development skills with the additional education in areas such as Mathematics and Statistics. You may well be an aspiring data scientist or already be\n          on that journey, but to be successful in this rewarding and high performance role, you will need to possess deep technical development skills (R, SQL, web development and Linux systems) and have the grounding in Maths to know how to apply the\n          data and question it’s commercial use.\nIf this sounds like the next step in your career, please contact me with your resume for a confidential discussion at jeremy.taylor@tomexecutive.com\xa0\n', nan)
38003869 (nan, '\nSoftware Engineer (V&V) - Contract\n \nWhy ResMed?\nImagine what you could accomplish if you could drive positive change every single day. At ResMed, you can find out. \nResMed (NYSE:RMD) is a world-leading connected health company with more than 5 million cloud-connected devices for daily remote patient monitoring, changing lives with every breath. As a global leader in connected care, ResMed’s award-winning\n          devices and software solutions help treat and manage sleep apnea, chronic obstructive pulmonary disease and other respiratory conditions. Our 6,000-strong team is committed to creating the world’s best tech-driven medical device company - improving\n          quality of life, reducing the impact of chronic disease, and saving healthcare costs in more than 120 countries.\nWe are currently seeking applications for the role of Software Engineer to work as part of our Verification and Validation team located at Bella Vista, Sydney for 12 months’ contract.\nLet’s talk about the team and you:\nOur DHT V&V team is inspirational. Our mission is to deliver software on time; however, we value quality even more. When things go well we celebrate, when encounter challenges, we learn, we overcome and we improve. We love technology, writing\n          codes and training machine to automate our tasks. We focus on delivering new products of the highest quality to our customers and also we love working within global cross functional teams to share our passion. We believe that it’s not just about\n          delivering new product to the market; it’s about changing the world and improving people’s lives.\nThis role is responsible for performing software development, design and testing to support the verification and validation activities in the Digital Health Technology (DHT) web, mobile and cloud applications. It also encompasses working with\n          global Product Development (PD) teams in Sydney, San Diego and Halifax. Those applications are designed for clinicians involved in the care and management of patients with obstructive sleep apnea.\nLet’s talk about responsibilities:\nReporting directly to Verification and Validation (V&V) - DHT Manager, you will be a natural problem solver with a passion to drive quality of the DHT products. As a Software Engineer with Machine Learning (ML) knowledge, you will be an enthusiastic\n          self-starter who can think outside the box and possess the mental agility to make an impact within your role quickly. You will be able to show the ability to learn fast and to work effectively within the team environment.\nTo succeed in this role, you will have demonstrable experience in performing the following responsibilities in a fast paced environment:\n\nApply software development skills/techniques and Machine Learning knowledge to the design process for developing high quality and scalable test automation solutions.\nEnhance tools/applications for the current test automation framework by applying innovative state-of-the-art software development frameworks and data science solutions.\nPropose, define and implement processes and solutions for improved software development.\nResolve complex problems with efficient designs and implementations.\nContribute to the collaborative design reviews and perform test code inspections leading to optimisations.\nCollaborate within teams, across business and participate in functional and technical discussions.\nFoster the best coding practices within the team, write tutorials, articles and be involved in technical presentations.\nFormulate hypotheses, conduct experiments, and propose recommendations for continuous advancements of the test automation framework.\nMaintain technical skills and awareness of the state-of-the-art technical advancements.\nWillingness to help other engineers, contribute in sharing knowledge and open-minded in learning new technologies/methodologies.\nAttention to details and a commitment for excellence.\n\nLet’s talk about Qualifications and Experience:\n\nYou will have an Engineering or Science degree such as Software, Computer Science or equivalent.\nYou will have excellent knowledge and experience of core Java language, Spring framework, micro services and web APIs. \nExposure to Angular, Spring Boot, JBoss and relational & non-relational databases (preferably MongoDB and SQL Server) is highly desirable. \nPrograming experience using Swift, Python or R is a bonus. \nKnowledge in Machine Learning methodologies with hands on experience, such as, classifications, regressions, forecasts and unsupervised learning is highly regarded. \nExperience with cloud services, such as, Google Cloud AI and AWS is desirable. \nExperience with MatLab, Jupyter Notebook, OpenCV (Java) or Deeplearning4J is highly regarded.\n\nOK, so what next?\nJoining ResMed is more than saying “yes” to making the world a healthier place. It’s discovering a career that’s challenging, supportive and inspiring. Where a culture driven by excellence helps you not only meet your goals, but also create new\n          ones. We focus on creating a diverse and inclusive culture, encouraging individual expression in the workplace and thrive on the innovative ideas this generates. Our hope is that each day you’ll uncover a new reason to love what you do. If this\n          sounds like the workplace for you, apply now! \n \n** Please note unsolicited resumes from employment agencies or other third parties will not be considered. ResMed is an Equal Opportunity Employer and all applicants must be legally entitled to work in the country the role is based out of.\n \n#LI-MC1\n \n \n')

CPU times: user 2min 56s, sys: 953 ms, total: 2min 57s
Wall time: 2min 58s

In [78]:
len(check_dict.keys())

32

In [71]:
# pprint(check_dict)

In [72]:
pratios = {}
for k in check_dict.keys():
    pratios[k] = fuzz.partial_ratio(check_dict[k][0], check_dict[k][1])

In [73]:
pprint(pratios)

{'38001991': 42,
 '38002489': 43,
 '38003869': 44,
 '38040677': 75,
 '38085187': 63,
 '38090655': 0,
 '38100022': 74,
 '38104973': 52,
 '38105435': 42,
 '38105437': 42,
 '38105439': 42,
 '38105443': 40,
 '38105444': 43,
 '38108482': 75,
 '38110145': 52,
 '38126778': 62,
 '38165882': 52,
 '38177851': 67,
 '38180534': 42,
 '38214612': 89,
 '38215767': 74,
 '38221631': 69,
 '38224151': 41,
 '38227867': 41,
 '38228736': 71,
 '38237569': 71,
 '38238568': 83,
 '38244278': 86,
 '38246908': 46,
 '38248599': 80,
 '38249115': 58,
 '38249202': 75}

In [74]:
print(check_dict['38224151'][0])
print('==='*20)
print(check_dict['38224151'][1])

# From looking individually at a number of these, it looks like seekIDs must have been reused as they refer to
# completely different jobs. I"m just going to drop all entries as I don't know which ones correctly correspond
# to the other data gathered - salary, job title etc

Description: Data Analyst  Duration - 6 months  Location - Parramatta  Reporting structure  The position reports directly to the Senior Data Analyst and has a strong working relationship with the Manager, Research
          and Analysis.  There are no positions reporting to the role.   Key Accountabilities   • Implement key data projects including data identification, collection, analysis, modelling and reporting.  • Conduct
          data reviews, interpreting and analysing collected data using different tools, statistical techniques and data management systems.  • Develop robust data collection systems and sound strategies for getting quality data from different sources.
           • Perform tasks including data cleansing, data transformation, data analysis and data visualisation using analytical tools.  • Perform coding, statistical analysis, logical data modelling and forecasting.  • Design and develop visualisation
          products and reports according to the AHO’s work plan  • Routinely validate the accuracy of analysis outputs and document underlying assumptions and methodologies to enable repeatable and transparent processes for data analysis.    Qualifications  Degree in statistics or data analytics or the study of statistics at degree-level is highly desirable or demonstrated equivalent experience. Subject matter experience in demography, the social sciences
          or econometrics is an advantage. Geo-spatial mapping, while not essential, is also an advantage.  Role specific capabilities  • Substantial experience and competence in quantitative data design and methods.  • Experience in analysing
          large and complex data.  • Demonstrated strength in the practice of statistics and conducting statistical tests.  • Knowledge of and experience in the use of EXCEL and SPSS statistical software.  • Ability to deal with users of analytical
          outputs to ensure that they understand the context, assumptions and caveats associated with the analysis  • Ability to work effectively in a flat organisation with diverse cultures.   Travel  The role may require
          occasional business travel including overnight stays.
At Randstad, we are passionate about providing equal employment opportunities and embracing diversity to the benefit of all. We actively encourage applications from any background.

============================================================



Mulgrave location

Permanent role

A unique opportunity has become available for a Business Applications Analyst to join the team and be responsible for analysing, documenting and reviewing solution requirements into functional specifications and to work closely with the Product
          Owner and the Delivery Lead.

Here's your chance to become part of a global company that has strong values based around customer devotion, acting responsibly and personal impact that empowers their people to perform, succeed and think freely.
KEY RESPONSIBILITIES

Collect, define and analyse business requirements liaising with the business stakeholders and the Corporate guidelines
Verify all requirements are implemented correctly
Reporting on data collection
Project delivery including production of documents and collateral
Producing test scripts to run test sessions
Maintaining business applications and  analysing operations performances

SKILLS/QUALIFICATIONS


Experience in the Agile scrum methodology of product development, deployment and support.
Knowledge and experience with Microsoft Office suit.
Strong knowledge of the software development life cycle is needed
Experienced in Software Development process
Understanding of customer retail landscape and business process would be ideal
Prior experience working with CRM Systems would be ideal
ITIL experience needed



Please send your CV via the application process or for further information call Cuong Nguyen on 03 8680 4237
 Job reference: 200185129To be considered for the role click the 'Apply' button or for more information about this and other opportunities please contact Cuong Nguyen on 03 8680 4237. Please quote our job reference
        number: 200185129.

In [75]:
usedf = dfds[dfds.seekID.isin(check_dict.keys()) == False].copy()
print(len(usedf))   # I'm just getting rid of all the entries that have conflicting entries

11941

In [76]:
print(len(dupIDs))
print(len([d for d in dupIDs if d not in check_dict.keys()]))
# these are the ones where I want to get rid of the extra duplications of the same entry,
# but still keep one entry for each. Can just do with pandas drop_duplicates below

2101
2069

In [77]:
usedf.drop_duplicates(subset='seekID', inplace=True)
print(len(usedf))

8028

In [80]:
dclassf.head(2)

,jobClassification,jobSubClassification,jobTitle,joburl,searchterm,seekID
0,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist - Sponsorship Available,/job/38305983?type=standout&searchrequesttoken...,data-science,38305983
1,Science & Technology,"Mathematics, Statistics & Information Sciences",Data Scientist,/job/38274601?type=standout&searchrequesttoken...,data-science,38274601

In [85]:
bothdf = pd.merge(usedf, dclassf[['jobClassification','jobSubClassification','jobTitle','joburl','seekID']], on='seekID', how='left')

In [86]:
bothdf.columns

Index(['company', 'error', 'joburl_x', 'location_area', 'location_big',
       'salary', 'searchterm', 'seekID', 'srch_date', 'srch_pos',
       'templatetext', 'title', 'jobClassification', 'jobSubClassification',
       'jobTitle', 'joburl_y'],
      dtype='object')

In [89]:
print(len(bothdf))
print(len(bothdf[bothdf.jobClassification.notnull()]))

8028
6488

In [92]:
print(len(bothdf[bothdf.joburl_x == bothdf.joburl_y]))

0

In [93]:
print(len(bothdf[bothdf.title == bothdf.jobTitle]))

6417

In [112]:
similar = bothdf[['title','jobTitle']][(bothdf.title != bothdf.jobTitle) & bothdf.jobTitle.notnull()]
for srow in similar.iterrows():
    similar.loc[srow[0],'pratio'] = fuzz.partial_token_sort_ratio(srow[1][0], srow[1][1])
similar.head()

,title,jobTitle,pratio
156,IT Graduates - Multiple Opportunities,IT Graduates - Multiple Opportunities,100.0
162,"Microsoft Data Platform Experts - Sydney, Bris...","Microsoft Data Platform Experts - Sydney, Bris...",100.0
256,"Recuitment Manager, Analytics","Recuitment Manager - Analytics Practice, Auckland",68.0
257,"Recuitment Manager, Analytics","Recuitment Manager - Analytics Practice, Auckland",68.0
428,"Data Analyst |12 month FTC $100,000",Data Analyst,100.0

In [113]:
similar[similar.pratio < 70] # I think they're all fine

,title,jobTitle,pratio
256,"Recuitment Manager, Analytics","Recuitment Manager - Analytics Practice, Auckland",68.0
257,"Recuitment Manager, Analytics","Recuitment Manager - Analytics Practice, Auckland",68.0
1483,"Solution Architect - SDLC, EDW",Solution Architect,67.0
1653,Data Science Delivery Lead,Data Engineer,69.0
2639,R&D Quality Advisor,Quality Assurance Associate,61.0
3768,Technical Business Analyst - Australian Citizen,Technical Business Analyst,69.0
4163,Software Licensing Specialist,Software Licensing Officer,69.0
4506,Master Data Controller,Master Data Specialist,50.0
4599,Senior Energy Analyst,Commercial Analyst,56.0
6011,Customer Experience & Resolution Manager,Customer Experience & Continuous Improvement M...,68.0
6088,Digital Marketing Executive - Expression of In...,Digital Account Executive,48.0
6882,VIIEW CONTRACT / AUG AD TEMPLATE,.Net Developer,38.0
7070,Cloud Automation Developer,Full Stack Developer,45.0
7193,Linux / Unix Solution Architect,Linux / Unix Systems Administrator,60.0
7663,Digital Marketing Specialist,Digital Account Manager - Digital marketing so...,58.0

In [115]:
dttoday = pd.to_datetime('today').strftime("%Y%m%d")
bothdf.to_csv(f'{dttoday}_search2_unduped_with_classifications.csv')